<form action="/vendors" method="post">
  <label for="vendorName">Add a new vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDescription">Add vendor description</label>
  <input id="vendorDescription" name="vendorDescription" type="text">
  <button type="submit">Submit</button>
</form>