<h1>Hey, Pierre.</h1>
<h2>Welcome to your Vendor Tracker. We're here to keep you organized and grow your business.</h2>

<p><a href="/vendors/new">add a new vendor</a></p>
<p><a href="/vendors">view vendors</a></p>
